<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HASTANE_RANDEVU_SİSTEMİ.Properties.Settings.hastanerandevusistemiConnectionString"
            connectionString="Data Source=|DataDirectory|\hastanerandevusistemi.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>